<form [formGroup]="recipeForm" class="recipe-form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Preparation time</mat-label>
    <input matInput type="number" formControlName="preparationTime">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" class="add-ingredient-button" (click)="addIngredient()">Add ingredient</button>

  <div formGroupName="ingredients">
    <div *ngFor="let ingredient of ingredients.controls; let i = index">
      <div [formGroupName]="i">
        <mat-form-field>
          <mat-label>Ingredient name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="quantity-input">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" formControlName="quantity">
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="removeIngredient(i)">Remove ingredient</button>
      </div>
    </div>
  </div>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
